<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Logları dosyaya yaz -->
		<target name="file" xsi:type="File" fileName="${basedir}/logs/test-log.txt"
				layout="${longdate} | ${level:uppercase=true} | ${message}"
				encoding="utf-8" />

		<!-- Logları konsola yaz -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<!-- Tüm logları hem dosyaya hem de konsola yaz -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>

</nlog>
